
<div tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Average Drew Gym Employee Login</h5>
      </div>
      <div class="modal-body">
        <%= form_for(:session, url: login_path) do |f| %>
          <div class="form-group">
            <%= f.label :email%>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
            <small class="form-text text-muted">Please remember that both email and password are case sensitive</small>
          </div>
          <div class="modal-footer">
            <%= f.submit "Log in", class: "btn btn-primary" %>
            <%= link_to "Create New User", new_user_path, class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>