<h1> Welcome: <%= session[:name] %> </h1> 

<%= form_for (@appointment) do |form|%>

    <br>
    
    <label> Choose Client </label>
    <%= form.collection_select :client_id, @all_clients, :id, :name%>
    
    <br>
    
    <label> Assign a Trainer </label>
    <%= form.collection_select :trainer_id, @all_trainers, :id, :name%>
    
    <br>
    
    <label> Enter Workout Notes from Client </label>
    <%= form.text_field :workout%>
    
    <br>

    <label> Enter Date of Workout</label>
    <%= form.date_field :date %>    
    <br>

    <label> Select Timeslot</label>
    <%= form.select :timeslot, [["Early Morining: 6 to 8am"], ["Mid Morning: 9 to 11am"], ["Mid Day: 12 to 2pm"], ["Mid Afternoon: 3 to 5pm"], ["Evening: 6 to 8pm"]], {include_blank: "Select Appointment Time Slot"}%>
   
    <br>
    
    <%= form.submit%>

    <br>

    <div> <%= link_to "Clients List", clients_path %> </div>
    <div> <%= link_to "Trainers on Staff", trainers_path %> </div>
    <br>

    <%= link_to "Log out", logout_path, method: "delete" %>
    <% end %>